# Copie este arquivo para ".env" e preencha com os valores do seu app no
# https://developer.spotify.com/dashboard (app "CBO" > Settings)
SPOTIPY_CLIENT_ID=coloque_seu_client_id_aqui
SPOTIPY_CLIENT_SECRET=coloque_seu_client_secret_aqui
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback
